.wrapper{
    display: grid;
    border: solid 1px #900;
    background-color: rgb(255, 226, 226);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20em;
    padding: 1em;
    gap: 1em;
}
    .add-image{
        border: solid 1px #900;
        background-position: center;
        background-size: cover;
        background-image: url("https://www.photock.jp/photo/middle_webp/photo0000-4070.webp");
    }

    .children{
        background-color: rgb(255, 226, 226);
    }
    
    .box2 {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    
    .box3 {
        grid-column: 1/3;
        grid-row: 2/3;
        
        display: grid;
        grid-template-columns: subgrid;
        gap: 1em;
    }
    
        .nested-from-box3{
            background-color: rgb(255, 226, 226);
        }
        
        .box3-1{
            grid-column: 1/2;
            grid-row: 1/3;
        }
        
        .box3-2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        
        .box3-3{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        
    .box7 {
        grid-column: 2/4;
        grid-row: 3/5;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;
        }
        
        .nested-from-box7{
            background-color: rgb(255, 226, 226);
        }
        
    .box8{
        z-index: 1;
        grid-row: 5/7;
        grid-column: 1/3;
        
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 1em;
    }
        
        .nested-from-box8{
            background-color: rgb(255, 226, 226);
        }
        
        .box8-1{
            grid-column: 1/4;
            grid-row: 1/3;
        }
        
        .box8-2{
            grid-column: 4/9;
            grid-row: 1/3;
        }
        
        .box8-3{
            grid-column: 1/6;
            grid-row: 3/5;
        }
        
        .box8-4{
            grid-column: 6/9;
            grid-row: 3/5;
        }
        
        .box8-5{
            grid-column: 1/4;
            grid-row: 5/7;
        }
        
        .box8-6{
            grid-column: 4/9;
            grid-row: 5/7;
        }
        
        .box8-7{
            grid-column: 1/6;
            grid-row: 7/9;
        }
        
        .box8-8{
            grid-column: 6/9;
            grid-row: 7/9;
        }
        
    .box11{
        grid-column: 1/4;
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1em;
    }
    
        .nested-from-box11{ 
            background-color: rgb(255, 226, 226);
        }

        .box11-8{
            height: 10em;
            width: 100%;
            grid-column: 2/6;
            position: absolute;
            top: 5em;
            left: 2em;
            opacity: 0.9;
            display: none;
        }
        
    .box12{
        grid-row: 8/ span 2;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

        .nested-from-box12{
            background-color: rgb(255, 226, 226);
            grid-area: 2/2/3/3;
        }
    
    .box15{
        grid-column: 2/4;
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: end;
        gap: 1em;
    }
        
        .nested-from-box15{
            background-color: rgb(255, 226, 226);
            padding-bottom: 4em;
        }
        
        .box15-1{
            align-self: stretch;
        }
        
        .box15-2{
            align-self: start;
        }
        
    .box16{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap:1em;
    }
    
        .nested-from-box16{
            background-color: rgb(255, 226, 226);
        }
        
    .box19{
        grid-row: 12;
    }
    
    .box20{
        grid-row: 11/ span 2;
        grid-column: 2/ span 2;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;
    }
    
        .nested-from-box20{
            background-color: rgb(255, 226, 226);
        }
    
        .box20-1{
            grid-area: 1/1/4/2;
        }
        
        .box20-2{
            grid-area: 1/2/2/3;
        }
            
        .box20-3{
            grid-area: 1/3/3/4;
        }
        
        .box20-4{
            grid-area: 3/2/4/4;
        }
        
    .box21{
        grid-column: 1/-1;
        
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        ". . hd hd hd hd hd hd hd"
        ". sd sd sd . main main . ."
        "ft ft ft ft ft main main . .";
        gap: 1em;
    }
    
        .nested-from-box21{
            background-color: rgb(255, 226, 226);
        }
        
        .box21-1 {
            grid-area: hd;
        }
        
        .box21-2 {
            grid-area: sd;
        }
        
        .box21-3 {
            grid-area: main;
        }
        
        .box21-4 {
            grid-area: ft;
        }
    
    .box22{
        grid-row: span 2;
        grid-column: span 2;
        
        display: grid;
        gap: 1em;
    }
    
        .nested-from-box22{
            background-color: rgb(255, 226, 226);
            
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr;
            grid-template-areas: "img content";
        }
    
        .nested-from-box22.flipped{
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "content img";
        }
    
            .nested-from-box22 .img{
                grid-area: img;
                background-color: rgb(255, 226, 226);
            }
            
            .nested-from-box22 .content{
                grid-area: content;
                background-color: rgb(255, 255, 255);
            }

    .box23{
        grid-row: span 2;
    }

    .box25{
        grid-column: span 2;
    }

    .box0{
        grid-column: span 3;
        grid-row: span 3;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1em;
    }

        .nested-from-box0{
            background-color: rgb(255, 226, 226);
        }

        .box0 div:nth-child(2) {
            grid-column: 3;
            grid-row: 2 / span 2;
        }

        .box0 div:nth-child(5) {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
         }
        